.button{
    width: 298px;
    height: 54px;

    text-transform: uppercase;
    color: white;
    font-weight: 500;
    line-height: 140%;
    text-align: center;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
}

.button:hover{
    background: #E47209;
}

.card__button{
    width: 298px;
    height: 54px;
}

.button__slide{
    width: 62px;
    height: 62px;

    margin-top: 400px;

    border-radius: 50%;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.button__slide:first-child{
    transform: rotate(180deg);
}

.button__slide:hover{
    background: #E47209;

    animation: bg .3s;
}

@keyframes bg {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    1000%{
        background-position: 0% 50%;
    }
}