.user__img{
    display: inline-block;

    margin-right: 10px;
}

.user__img > img{
    width: 37px;
    height: 37px;
}

.user__fullName{
    color: #000;


}

.user__location{
    display: inline-block;

    font-size: 15px;
    font-weight: 300;
    color: #BDBDBD;
}

.user__date{display: inline-block; color: #BDBDBD;}

.user__dot{display: inline-block; color: #BDBDBD;}

.user__wrapper{
    display: inline-block;
    margin-bottom: 10px;

    vertical-align: top;

    height: 37px;

    text-align: top;
}

.user__comment{
    width: 237px;
    height: 309px;

    text-overflow: clip;
    overflow: hidden;

    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    
    color: #767474;
}
